<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a th:href="@{/home}">Xem Danh Sách Thành Phố</a></h3>

<h1>Bạn Có Chắc Muốn Xóa Thành Phố Này</h1>

<form onsubmit="return confirm('Bạn có chắc Muốn Xóa')" th:action="@{/remove-thanhPho}" th:object="${thanhPho}"
      method="post">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <th>Thành Phố :</th>
            <th><p th:text="${thanhPho.tenThanhPho}"></p></th>
        </tr>
        <tr>
            <th>Diện Tích :</th>
            <th><p th:text="${thanhPho.dienTich}"></p></th>
        </tr>
        <tr>
            <th>Dân số :</th>
            <th><p th:text="${thanhPho.danSo}"></p></th>
        </tr>
        <tr>
            <th>GDP :</th>
            <th><p th:text="${thanhPho.gdp}"></p></th>
        </tr>
        <tr>
            <th>Mô Tả :</th>
            <th><p th:text="${thanhPho.moTa}"></p></th>
        </tr>
        <tr>
            <th>Quốc Gia :</th>
            <th><p th:text="${thanhPho.quocGia.name}"></p></th>
        </tr>
        <tr>
            <th></th>
            <th><input type="submit" value="Xóa"></p></th>
        </tr>
    </table>
</form>
</body>
</html>